/*header*/
.header {
    background-color: #1383d7;
    color: white;
    padding: 10px 0 0 0;
}

.header__logo {
    text-align: center;
}

.header__ui__inline li {
    color: white;
    font-size: 12px;
    margin: 5px 5px;
    display: inline;
}

.header__ui__li__a__white {
    color: white;
}

.header__ui__padding {
    padding-bottom: 5px !important;
}

.main__div__text {
    color: #1383d7;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
}

/*news*/

.news {
    position: relative;
}

.news__img {
    height: 300px;
    background: url("../img/doctors.jpg");
    -webkit-filter: blur(15px);
    filter: blur(15px);
}

.news__background__blue {
    width: 100%;
    position: absolute;
    top: -20px;
    height: 115%;
    background-color: rgba(62, 161, 215, 0.4);
}

.news__text__blue {
    position: absolute;
    top: 0;
    left: 17%;
    font-size: 24px;
    color: #0f67a7;
}

.news__slider {
    position: absolute;
    top: 15%;
    left: 15%;
}

.news__slider__height {
    height: 250px !important;
}

.news__slider__ul__height {
    height: 200px !important;
}

.news__slider__img {
    width: 200px !important;
    height: 200px !important;
}

.news__slider__text__title {
    color: #0f67a7;
    font-size: 18px;

}

.news__slider__text__description {
    font-size: 12px;

}

/*slider color*/
.slider .slides {
    background-color: rgba(253, 248, 255, 0.6);
}

/**/

/*slider view*/
.slider .slides li .caption {
    top: 0;
    left: 1.2%;
}

/**/

/*slider menu colour active*/
.slider .indicators .indicator-item.active {
    background-color: #1383d7;
    border: none;
}

/**/

/*slider menu color*/
.slider .indicators .indicator-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/* list news*/

.list-news {
    margin-top: 40px;
}

.list-news__title {
    color: #0f67a7;
}

.a:hover {
    background: url("../img/arrow-right.png");
}

.list-news__background__blue {
    background: none;
}

.list-news__date {
    color: black;
}

.la {
    margin-top: 20px;
}

.info__div__text__center__blue {
    text-align: center;
    color: #1383D6;
}

/*labs photos*/

.header__text__center {
    text-align: center;
    background-color: #E1E6E9;
}

.content__blue {
    background-color: #1383D6;
}

.content__blue a {
    color: white;
    font-size: 14px;
}

.content__blue a:hover {
    color: white;
    text-decoration: underline;
}

.hover__yellow:hover {
    color: #E4A712;
}

.hover__yellow .content__blue:hover {
    background-color: #E4A712;
}

/**/
.slider .indicators .indicator-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/**/
/* learning */
.learning {
    background: url("../img/learn_bg.jpg");
    width: 100%;
    background-size: cover;
}

.learning__blur {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgba(244, 244, 244, 0.4);
}

.learning__title {
    background-color: rgba(244, 244, 244, 0.6);
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #1383d7;
    padding: 10px 0 !important;

}

.learning__label {
    background-image: url("../img/label_learn.png");
    background-size: cover;
    height: 90px;
    width: 210px;
    padding-top: 18px;
    font-size: 32px;
    color: whitesmoke;
    margin: auto;
    text-align: center;
    z-index: 10;
}

.learning__card__header__text__blue {
    color: #1383d7;
}

.event__counter:nth-child(odd) {
    color: dodgerblue;
}

.event__counter:nth-child(even) {
    color: darkorange;
}

@media screen and (min-width: 600px) {
    .event__logo img {
        width: 210px;
        height: 200px;
        border: 7px solid #1383d7;
        border-radius: 50%;
        margin: 5% auto;
    }

    .event__list {
        background-color: rgba(244, 244, 244, 0.6);
        position: relative;
        top: 150px;
    }

    .card__low_button {
        color: white;
        margin-top: 20px;
        text-align: center;
        background-color: #1383d7;
        width: 200px;
        border-radius: 4px;
        height: 35px;
        padding-top: 8px;
        cursor: pointer;
        z-index: 10;
    }
}

@media screen and (max-width: 600px) {
    .event__logo img {
        width: 50px;
        height: 50px;
        border: 2px solid #1383d7;
        border-radius: 50%;
        margin: 5% auto;
    }

    .event__logo_holder {
        height: 90px;
    }

    .event__logo_holder h6 {
        margin-top: -27px;
    }

    .event__list {
        background-color: rgba(244, 244, 244, 0.6);
        position: relative;
        top: 150px;
    }

    .card__low_button {
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
        background-color: #1383d7;
        width: 200px;
        border-radius: 4px;
        height: 35px;
        padding-top: 8px;
        cursor: pointer;
        z-index: 10;
    }
}

.event__photo_holder {
    min-height: 500px;
    background-image: url("../img/event.jpg");
    background-size: cover;
}

.event__list_text {
    color: #1383d7;
    text-align: center;
    width: 200px;
    height: 35px;
    cursor: pointer;
}

.partners__container {
    text-align: center;
}

.partners__big_circle img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 5% auto 5% 25px;
    border: 1px solid gray;

}

.partners__small_circle {
    position: absolute;
    top: 145px;
    left: 15px;
}

.partners__circle_span {
    color: #1383d7;
    position: absolute;
    top: 190px;
    left: 75px;
}

.partners__pictures {
    background-color: #1383d7;
    padding-bottom: 80px;
    margin-top: 40px;
}

.partners__big_circle {
    margin-left: 10px;
    position: relative;
}

.partners__small_circle p {
    font-size: 28px;
    background-color: #1383d7;
    color: white;
    text-align: center;
    padding-top: 15px;
    width: 60px;
    height: 60px;
    border: 2px solid #1383d7;
    border-radius: 50%;
    margin: 5% auto;
}

.partners__picture img {
    width: 130px;
    height: 130px;
    border: 2px solid #1383d7;
}

.partners__picture {
    position: relative;
    margin-top: 60px;
}

.partners__picture__text__white {
    color: white;
}

.container {
    max-width: 1000px;
}

/*location*/

.location__uprow {
    min-height: 320px;
}

.location__picture__map {
    width: 220px;
    height: 250px;
    margin-top: 10px;
    margin-left: 20px;
}

.location__picture__map__size {
    width: 100%;
    height: 100%;
}

.location__google__map {
    height: 350px;
    margin-top: 40px;
    margin-left: 20px;
}

.location__feedback {
    color: white;
    background-color: #1383d7;
}

.location__h3__position {
    text-align: center;
    margin-top: 40px;

}

.location__feedback__contacts__margin {
    margin: 40px 0;
}

.location__feedback__number__margin {
    margin-left: 20px;
}

.location__feedback__email__margin {
    margin-right: 20px;
}
