main {
 color: #455d58;
}

nav {
    background-color: #4e7db1;
}

input[type=text], input[type=email] {
    border-bottom: 1px solid #455d58 !important;
}

input[type=text]:focus:not([readonly]), input[type=email]:focus:not([readonly]) {
    box-shadow: none !important;
}

label {
    color: #455d58 !important;
}

.nav__a__color__size {
    font-size: 2.1rem;
    color: #f3dcb3 !important;
}

.welcome {
    background: url("../img/welcome.jpg") no-repeat center center;
    background-size: cover;
}

.about {
    background: url("../img/about.jpg");
}

.specials {
    background: #cad5d8;
    padding-bottom: 10px;
}

.specials__img__size {
    height: 100px;
    margin-top: 20px;
}

.form-request {
    background: #cad5d8;
}

.main__row__margin {
    margin-bottom: 0;
}

.main__welcome__header__margin {
    margin-bottom: 80px;
}

.main__welcome__info__margin {
    margin-bottom: 80px;
}

.main__welcome__input {
}

.main__welcome__form__margin {
    margin-bottom: 40px;
}

.main__about__contacts, .main__about__contacts__social {
    font-size: 18px;
    color: #f3e0bd;
}

.contacts__social__number_padding {
    padding: 4px 0 20px 5px !important;
}

.contacts_icons {
    height: 40px;
}

.main__about__contacts__header {
    border-bottom: 2px solid #f3e0bd;
}

footer {
    background: #4e3b2e;
}